/*HEADER  */
.header {
	margin-bottom: 30px;
}
.header__menu {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.nav__item {
	display: flex;
	gap: 20px;
}
.nav__link-item {
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in-out;
}
.nav__link-item:hover {
	box-shadow: 0 0 15px rgba(238, 233, 233, 0.5);
}

/* MAIN */
.main {
	text-align: center;
}
.main__container {
	height: 100vh;
}
.home {
	height: 100%;
	display: flex;
}
.home__name {
	display: flex;
	align-items: center;
}
.home__steak {
	display: flex;
	align-items: center;
}
.nav__long {
	display: none;
}
.column {
	position: absolute;
	display: block;
}
/* FOOTER */
